{%  extends '::base.html.twig' %}


{% block body %}
    <form method="post" action="{{ path('app_default_domultiply') }}" >
        <input type="number" name="op1"/>
        <input type="number" name="op2"/>
        <input type="submit" value="multiplicar"/>
    </form>
{% endblock %}